@use "./variables" as *;

@mixin page {
    padding: 0rem 2rem;

    @include tablet {
        border: 2px solid rgba(0, 0, 0, 0.1);
        margin: 2rem;
        padding: 3rem;
    }

    @include desktop {
        margin: 4rem;
        padding: 7rem;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}
