@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@0,100;0,400;1,100&display=swap");

body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  background-image: none;
  background-position: top left;
  background-size: auto;
  background-attachment: scroll;
  background-repeat: repeat;
  background-color: #fff;
  color: #5c5c5c;
  font-family: Merriweather;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8em;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
}

#canvas {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  /* font-family: Merriweather; */
  font-weight: 300;
  font-style: normal;
  line-height: 1.8em;
  font-size: 14px;
  text-transform: none;
  max-width: 1100px;
  padding: 100px 100px 0;
  background-color: #fff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  margin: 80px;
}
#header {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  font-family: Merriweather;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8em;
  font-size: 14px;
  text-transform: none;
  display: block;
  position: relative;
}
#upper-logo {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  /* font-family: Merriweather; */
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 0;
  float: left;
  width: 100%;
  text-align: center;
}
.logo {
  -webkit-text-size-adjust: 100%;
  text-align: center;
  font-family: proxima-nova;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
  color: #222;
  line-height: 0;
  margin: 0;
  display: block;
  max-height: 170px;
}
#header-logo {
  height: auto;
  width: auto;
  max-height: 170px;
  max-width: 100%;
}
#topNav {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  font-family: Merriweather;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8em;
  font-size: 14px;
  text-transform: none;
  z-index: 1000;
  float: left;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 45px;
}
.main-nav {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  /* font-family: Merriweather; */
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  float: left;
  width: 100%;
  text-align: center;
  display: inline-block;
  line-height: 1.6em;
}
ul {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  text-align: center;
  list-style: none;
  list-style-image: none;
  background-color: #fff;
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  width: auto;
  margin: auto;
  display: inline-block;
  line-height: 1.6em;
  padding: 0 30px;
}
.page-collection {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  list-style: none;
  list-style-image: none;
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
  position: relative;
  display: inline-block;
  line-height: 1.6em;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px 7px 0px 7px;
}
.page-collection:hover {
  background: #d3d3d39e;
  border-radius: 21px;
  padding: 0px 7px 0px 7px;
}
h3 {
  -webkit-text-size-adjust: 100%;
  margin: 1em 0 0.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  font-size: 1.3em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
  color: #222;
  margin-top: 0;
  white-space: pre-wrap;
  margin-bottom: 15px;
}
.page-divider {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  font-family: Merriweather;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
  line-height: 1.6em;
  margin-top: -1.6em;
  margin-bottom: 1.6em;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Montserrat", sans-serif;
}
#page {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  /* font-family: Merriweather; */
  font-weight: 300;
  font-style: normal;
  line-height: 1.8em;
  font-size: 14px;
  text-transform: none;
  display: block;
  margin-top: 200px;
  /* margin-top: 45px; */
  margin-bottom: 45px;
  position: relative;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}
#footer {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-width: 2px;
}
.image-wrapper {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8em;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 80px;
}
.welcome-image {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8em;
  font-size: 14px;
  text-transform: none;
  border: 0;
  vertical-align: middle;
  width: 100%;
  display: block;
}
.socialContainer {
  text-align: center;
}
.wrapper {
  margin-top: -58px;
  opacity: 1;
}
.page-title {
  -webkit-text-size-adjust: 100%;
  text-align: center;
  margin: 1em 0 0.3em;
  color: inherit;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 52px;
}
.worksUl {
  -webkit-text-size-adjust: 100%;
  color: #5c5c5c;
  padding: 0 0 0 40px;
  font-family: Merriweather;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8em;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  margin: 1em 0;
  word-wrap: break-word;
  text-align: left;
}
li {
  list-style-type: initial;
}
.worksUl li:hover {
  background: #d3d3d39e;
  border-radius: 21px;
}

#user_name,
#user_email,
#messageLabel {
  margin: auto;
  color: black;
}
#submitButton {
  margin: auto;
  margin-bottom: 10px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
#messageInput {
  margin: auto;
  height: 143px;
  width: 84%;
}

@media screen and (max-width: 900px) {
  #topNav {
    display: none;
  }
  .page-title {
    font-size: 30px;
  }
  #page {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  #canvas {
    border-style: none;
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  h3 {
    font-size: 1em;
  }
  #page {
    margin-top: 120px;
  }
  #canvas {
    padding: 100px 30px 0;
  }
}

@media screen and (min-width: 901px) {
  .hamburgerMenu {
    display: none !important;
  }
}

.hamburgerMenu {
  position: relative;
  display: inline-block;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  padding: 12px 16px;
  z-index: 1;
  margin-top: -5px;
}
.dropdownContent li {
  color: black;
  list-style: none;
  margin: 8px 0px 8px 0px;
}
.dropdownContent li:hover {
  background-color: #80808070;
}
.hamburgerMenu:hover .dropdownContent {
  display: block;
}
.dropdownbtn {
  width: 35px;
  margin-top: 6px;
}
